<nav>
    <div class="title">
        <a href="/"><h1>My Blog</h1></a>
        <p>Sample Project</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>