<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/header') %>
<body>
    <!-- nav bar -->
    <%- include('./partials/nav') %>
    <h2>Mobile No: +91 xxxxx xxxxx</h2>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>