<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/header') %>
<body>
    <!-- nav bar -->
    <%- include('./partials/nav') %>  
    <div class="blog content">
        <form action = "/" method="POST">
            <label for="title" >Blog title</label>
            <input type="text" id = "title" name = "title" required>
            <label for="overview" >Blog overview</label>
            <input type="text" id = "overview" name = "overview" required>
            <label for="discription">Blog discription</label>
            <textarea id = "discription" name = "discription" required></textarea>
            <button type="submit">Post</button>
            <button type="reset">Clear</button>
        </form>
    </div>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html>