<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/signin.css">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="username" id = "user_error"></label><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="username" id = "password_error"></label><br>
        <button id = "login">Login</button>
        <h2>Don't have an account? <a href="/register">signup</a></h2>
    </div>
</body>
<script src = "/login_validation.js"></script>
</html>