<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <div class="register">
        <h1>Signup</h1>
        <form action="/register" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder = "Enter username (without space)" required>
            <label for="username" id = "lblusername" hidden>Username requirement doesn't match</label><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <label for="password" id = "lblpassword" hidden>Password  requirement doesn't match</label>
            <p>Password Configuration</p>
            <ul>
                <li>minimum 5 characters</li>
                <li>One Digit</li>
                <li>One Uppercase letter</li>
                <li>One Lowercase letter</li>
                <li>One Special Character</li>
            </ul>
            <button type = "button" id = "signup">Signup</button>
        </form>
    </div>
</body>
<script src="/register_validation.js"></script>
</html>