@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Roboto Slab' , serif;
}
p, h1, h2, h3,h4, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(29, 29, 29);
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav li{
    list-style-type: none;
    margin-left: 20px;
}
nav h1{
    font-size: 3em;
}
nav p, nav a{
    color: #777;
    font-weight: 300;
}
footer{
    position: fixed;
    bottom: 0;
    color: #777;
    text-align: center;
    margin: auto;
    width: 88%;
    padding: 10px 0;
}
h2{
    margin-bottom: 40px;
}
h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}
.content{
    margin-left: 20px;
    font-weight: 500;
}
.content a{
    display: block;
    margin: 40px 0;
    padding-left: 10px;
    border-left: 5px solid blue;
}
.content a:hover h3{
    color: crimson;
}
.data{
    position: relative;
}
.data h4{
    margin-bottom: 20px;
}
.data button{
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
}
.data button:hover{
    cursor: pointer;
}
.blog form{
    max-width: 400px;
    margin: 0 auto;
}
.blog input[type = text],
.blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.blog label{
    display: block;
    margin-top: 24px;
}
textarea{
    height: 120px;
}
.blog button[type = submit]{
    margin-top: 20px;
    margin-right: 20px;
    background:blue;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
}
.blog button[type = reset]{
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    
}